*, 
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./bg.png");
}

iframe {
    height: 90vh;
    border-radius: 21px;
}